body {
	background-color: #fEdEdC;
	color: #1A1831;
}
header h2 {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
	color: #A21232;
}
footer p {
	text-align: center;
	color:#A21232;
}
.calculatorBody {
	width: 100%;
	height: auto;
	display:block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #50817B;
	border-radius: 20px;
	position:relative;
	background-color: #20615B;
	max-width: 500px;
}

.keyboard {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.keyboard ul {
	list-style: none;
	display: block;
	text-align: center;
	padding: 0px;
}

.keyboard ul li {
	font-size: 1em;
	display: inline-block;
	width: 19%;
	height: 2em;
	margin: 1%; 
	border: 1px solid #333;
	border-radius: 10px;
	text-align: center;
	padding-top: 1em;
	color: #333;
	background-color: #fff;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.keyboard ul li:hover {
	color: #fff;
	background-color: #333;
	cursor: pointer;
	border: 1px solid white;
}
.keyboard ul li:active {
	-webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	     -o-transform: scale(1.2);
	        transform: scale(1.2);
}

.register {
	text-align: right;
	background-color: #ddd;
	display: block;
	font-size: 2em;
	height: 1em;
	width: 60%;
	margin-bottom: 0;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
	padding-right: 10px;
	padding-top: 5px;
}

@media only screen and (min-width: 36em){
	h2 {
		font-size: 3em;
	}
	.keyboard ul li {
		font-size: 1.5em;
		width: 15%;
		height: 1%;
		padding-top: 0.1em;
		text-align: center;
	}
}